<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>viewOvertimeServlet</servlet-name>
        <servlet-class>viewOvertimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorisedViewOvertimeServlet</servlet-name>
        <servlet-class>AuthorisedViewOvertimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOvertimeServlet</servlet-name>
        <servlet-class>EditOvertimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOvertimeRequest</servlet-name>
        <servlet-class>DeleteOvertimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonthlyReportProcessServlet</servlet-name>
        <servlet-class>MonthlyReportProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attendanceReportGenerator</servlet-name>
        <servlet-class>attendanceReportGenerator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewOvertimeServlet</servlet-name>
        <url-pattern>/viewOvertimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorisedViewOvertimeServlet</servlet-name>
        <url-pattern>/AuthorisedViewOvertimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOvertimeServlet</servlet-name>
        <url-pattern>/EditOvertimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOvertimeRequest</servlet-name>
        <url-pattern>/DeleteOvertimeRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonthlyReportProcessServlet</servlet-name>
        <url-pattern>/MonthlyReportProcessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attendanceReportGenerator</servlet-name>
        <url-pattern>/attendanceReportGenerator</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
