<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee           http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet1</servlet-name>
        <servlet-class>servlet.ProfileServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>servlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveLeaveAppServlet</servlet-name>
        <servlet-class>servlet.SaveLeaveAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLeaveStatusServlet</servlet-name>
        <servlet-class>servlet.UpdateLeaveStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageLeaveAppServlet</servlet-name>
        <servlet-class>servlet.manageLeaveAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewLeaveAppServlet</servlet-name>
        <servlet-class>servlet.viewLeaveAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceServlet</servlet-name>
        <servlet-class>servlet.AttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClockInServlet</servlet-name>
        <servlet-class>servlet.ClockInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAttendanceServlet</servlet-name>
        <servlet-class>servlet.AdminAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeAttendanceServlet</servlet-name>
        <servlet-class>servlet.EmployeeAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProfileServlet</servlet-name>
        <servlet-class>servlet.viewProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileServlet</servlet-name>
        <servlet-class>servlet.ViewProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServletUser</servlet-name>
        <servlet-class>servlet.ProfileServletUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>servlet.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAttendancePTJServlet</servlet-name>
        <servlet-class>servlet.ViewAttendancePTJServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAttendanceFilterServlet</servlet-name>
        <servlet-class>servlet.ViewAttendanceFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadFileServlet</servlet-name>
        <servlet-class>servlet.downloadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOvertimeServlet</servlet-name>
        <servlet-class>servlet.DeleteOvertimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOvertimeServlet</servlet-name>
        <servlet-class>servlet.EditOvertimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OvertimeSubmitServlet</servlet-name>
        <servlet-class>servlet.OvertimeSubmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OvertimeUpdateSerlvet</servlet-name>
        <servlet-class>servlet.OvertimeUpdateSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OvertimeDeleteServlet</servlet-name>
        <servlet-class>servlet.OvertimeDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OvertimeApprovalServlet</servlet-name>
        <servlet-class>servlet.OvertimeApprovalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteLeaveAppServlet</servlet-name>
        <servlet-class>servlet.deleteLeaveAppServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet1</servlet-name>
        <url-pattern>/ProfileServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveLeaveAppServlet</servlet-name>
        <url-pattern>/SaveLeaveAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLeaveStatusServlet</servlet-name>
        <url-pattern>/UpdateLeaveStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageLeaveAppServlet</servlet-name>
        <url-pattern>/manageLeaveAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewLeaveAppServlet</servlet-name>
        <url-pattern>/viewLeaveAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceServlet</servlet-name>
        <url-pattern>/AttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClockInServlet</servlet-name>
        <url-pattern>/ClockInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAttendanceServlet</servlet-name>
        <url-pattern>/AdminAttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeAttendanceServlet</servlet-name>
        <url-pattern>/EmployeeAttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProfileServlet</servlet-name>
        <url-pattern>/viewProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileServlet</servlet-name>
        <url-pattern>/ViewProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServletUser</servlet-name>
        <url-pattern>/ProfileServletUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAttendancePTJServlet</servlet-name>
        <url-pattern>/ViewAttendancePTJServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAttendanceFilterServlet</servlet-name>
        <url-pattern>/ViewAttendanceFilterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadFileServlet</servlet-name>
        <url-pattern>/downloadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOvertimeServlet</servlet-name>
        <url-pattern>/DeleteOvertimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOvertimeServlet</servlet-name>
        <url-pattern>/EditOvertimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OvertimeSubmitServlet</servlet-name>
        <url-pattern>/OvertimeSubmitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OvertimeUpdateSerlvet</servlet-name>
        <url-pattern>/OvertimeUpdateSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OvertimeDeleteServlet</servlet-name>
        <url-pattern>/OvertimeDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OvertimeApprovalServlet</servlet-name>
        <url-pattern>/OvertimeApprovalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteLeaveAppServlet</servlet-name>
        <url-pattern>/deleteLeaveAppServlet</url-pattern>
    </servlet-mapping>
</web-app>
